.feedback-list {
    display: flex;
    flex-direction: column-reverse;
    max-width: 500px;
    padding: 0 2rem;
    list-style: none;
}

.feedback-list__element {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    margin-bottom: 1rem;
    line-height: 1.5;
}